.title{
	font-size: 300%;
	background-color: #222;
	color: #fff;
	font-family: "Times New Roman", Georgia, arial, sans-serif;
	text-align: left;
	height: 100px;
	padding: 10px 25px 10px 25px;
}


.section{
	width: 80%;
	height: 600px;
	border: solid 3px #000;
	text-align: center;
	margin-left: 10%;
	margin-top: 5%;
	padding: 50px 50px 50px 50px;
}

